<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension 
	point="eu.sensoria_ist.casetool.core.tool">
	<tool 
		id="hu.bme.mit.toolintegration.workflow.jbpm.IJbpmExecutorTool" 
		name="jBPM Executor Tool" 
		description="A tool for running jBPM processes, that can access the Core Registry" 
		class="hu.bme.mit.toolintegration.workflow.jbpm.JbpmExecutor">
		<category 
			name="Workflow management">
		</category>
		<function 
			name="executeProcessArchive" 
			returns="void" 
			returnsDescription="(no description)" 
			description="Executes a process archive.">
			<parameter 
				name="path" 
				description="path" 
				type="java.lang.String">
			</parameter>
		</function>
		<function 
			name="executeProcessDefinition" 
			returns="void" 
			returnsDescription="(no description)" 
			description="Executes an instance of the process defined as an XML String supplied in the parameter">
			<parameter 
				name="xmlProcessDefinition" 
				description="xmlProcessDefinition" 
				type="java.lang.String">
			</parameter>
		</function>
		<function 
			name="clearDatabase" 
			returns="void" 
			returnsDescription="(no description)" 
			description="Clear the database - drop and recreate the schema">
		</function>
		<function 
			name="createSchema" 
			returns="void" 
			returnsDescription="(no description)" 
			description="Creates the database schema according to the default configuration file.">
		</function>
		<function 
			name="deployProcessArchive" 
			returns="int" 
			returnsDescription="(no description)" 
			description="Deploys a process archive.">
			<parameter 
				name="path" 
				description="path" 
				type="java.lang.String">
			</parameter>
		</function>
		<function 
			name="executeProcessInstance" 
			returns="void" 
			returnsDescription="(no description)" 
			description="Executes a process instance.">
			<parameter 
				name="processID" 
				description="The processInstanceID" 
				type="java.lang.String">
			</parameter>
			<parameter 
				name="variableMap" 
				description="VariableMap(key: varName, value: varValue as a string)" 
				type="java.util.HashMap">
			</parameter>
		</function>
		<function 
			name="createNewProcessInstance" 
			returns="int" 
			returnsDescription="(no description)" 
			description="Creates a new process instance.">
			<parameter 
				name="processDefinitionName" 
				description="processDefinitionName" 
				type="java.lang.String">
			</parameter>
			<parameter 
				name="processDefinitionId" 
				description="processDefinitionId" 
				type="java.lang.String">
			</parameter>
			<parameter 
				name="processInstanceName" 
				description="processInstanceName" 
				type="java.lang.String">
			</parameter>
		</function>
		<function 
			name="addParameterToMap" 
			returns="java.util.HashMap" 
			returnsDescription="Parameter map for process instances containing actual values for parameters." 
			description="Creates or extends a parameter map for process instances with a new variable name - variable value pair.">
			<parameter 
				name="map" 
				description="The map where the new variable name - variable value pair shall be added. If it is null, a new map will be created." 
				type="java.util.HashMap">
			</parameter>
			<parameter 
				name="variableName" 
				description="The name of a variable as defined in a process definition as the variableName attribute of a DataNode." 
				type="java.lang.String">
			</parameter>
			<parameter 
				name="variableValue" 
				description="The actual value for the variable with name variableName." 
				type="java.lang.String">
			</parameter>
		</function>
		<function 
			name="createProcessInstance" 
			returns="java.util.HashMap" 
			returnsDescription="(no description)" 
			description="Creates a new process instance.">
			<parameter 
				name="processDefinitionId" 
				description="processDefinitionId" 
				type="java.lang.String">
			</parameter>
			<parameter 
				name="processInstanceName" 
				description="processInstanceName" 
				type="java.lang.String">
			</parameter>
			<parameter 
				name="variableMap" 
				description="VariableMap(key: varName, value: varValue as a string)" 
				type="java.util.HashMap">
			</parameter>
		</function>
		<function 
			name="deleteProcessInstance" 
			returns="boolean" 
			returnsDescription="(no description)" 
			description="Deletes process instance.">
			<parameter 
				name="processInstanceId" 
				description="processInstanceId" 
				type="java.lang.String">
			</parameter>
		</function>
		<function 
			name="deleteProcessDefinition" 
			returns="boolean" 
			returnsDescription="(no description)" 
			description="Deletes process definition and all instances of the definition.">
			<parameter 
				name="processDefinitionId" 
				description="processDefinitionId" 
				type="java.lang.String">
			</parameter>
		</function>
		<function 
			name="deployProcessDefinition" 
			returns="java.util.HashMap" 
			returnsDescription="(no description)" 
			description="hh">
			<parameter 
				name="jPDLSourceString" 
				description="jPDLSourceString" 
				type="java.lang.String">
			</parameter>
		</function>
		<function 
			name="deployProcessDefinitionWithGPDId" 
			returns="java.util.HashMap" 
			returnsDescription="(no description)" 
			description="hh">
			<parameter 
				name="jPDLSourceString" 
				description="jPDLSourceString" 
				type="java.lang.String">
			</parameter>
			<parameter 
				name="GPDId" 
				description="GPDId" 
				type="java.lang.String">
			</parameter>
		</function>
		<function 
			name="getAllProcessDefinitions" 
			returns="java.util.ArrayList" 
			returnsDescription="(no description)" 
			description="hh">
		</function>
		<function 
			name="getAllProcessInstances" 
			returns="java.util.ArrayList" 
			returnsDescription="(no description)" 
			description="hh">
		</function>
	</tool>
</extension>


</plugin>
